.bgimg{
	background-image: url(https://img.freepik.com/free-vector/gradient-smartphone-isometric-technology-background_52683-6157.jpg?w=1060&t=st=1672296943~exp=1672297543~hmac=0c61498a59687a1b5e8365fb6f8dca7d78feaa7ddb9a9f32bb65d9c99ae8b340);
 background-size: cover;
 height: 100vh;
}
.layoutcard{
	background-color: white;
	height: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
}